<p>
    <button class="btn btn-secondary" @onclick="OnButtonClicked">
        ボタン2
    </button>
</p>

@code {

    [Parameter]
    public EventCallback<int> OnClickCallback { get; set; }

    private async Task OnButtonClicked()
    {
        var r = new Random();
        await OnClickCallback.InvokeAsync(r.Next(0, 9));
    }
}
